package ${package.ServiceImpl};

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package.Mapper}.$table.mapperName;
import ${package.Entity}.$table.entityName;
import ${package.Service}.$table.serviceName;
import org.springframework.stereotype.Service;
/**
*
* @author $author
* @since $date
*/

@Service
public class $table.serviceImplName extends ServiceImpl<$table.mapperName, $table.entityName> implements $table.serviceName{

    public $table.mapperName getMapper() {
        return this.baseMapper;
    }
}