server:
  port: 8084

spring:
  datasource:
    name: pms
    url: jdbc:mysql://127.0.0.1:3306/pms?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&serverTimezone=UTC
    username: root
    password: 123456
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
#访问静态资源 方式一：不添加spring-boot-starter-thymeleaf依赖，配置以下属性
#-----------------start-----------------
  mvc:
    view:
      suffix: .html
      prefix: /
#-----------------end-----------------

#访问静态资源 方式二：添加spring-boot-starter-thymeleaf依赖，配置以下属性
#-----------------start-----------------
#  mvc:
#    static-path-pattern: /resources/**
#  resources:
#    static-locations: classpath:/static,classpath:/public,classpath:/resources,classpath:/META-INF/resources
#-----------------end-----------------

## 该配置节点为独立的节点，有很多同学容易将这个配置放在spring的节点下，导致配置无法被识别
mybatis:
  mapper-locations: classpath:mapping/*.xml  #注意：一定要对应mapper映射xml文件的所在路径
  type-aliases-package: org.ike.pms.api.entity  # 注意：对应实体类的路径

#pagehelper分页插件
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
  returnPageInfo: check